BeautifulSoup==3.2.1
Django==1.5
Pillow==2.2.1
PyYAML==3.10
South==0.8.2
Unidecode==0.04.14
beautifulsoup4==4.1.3
dj-static==0.0.5
django-ajax-selects==1.3.3
django-autocomplete-light==2.0.0a2
django-autoslug==1.7.1
django-cities-light==2.1.6
djangorestframework==2.3.9
glassdoor==0.0.4
httplib2==0.8
mechanize==0.2.5
nltk==2.0.4
oauth2==1.5.211
oauthlib==0.3.8
progressbar==2.3dev
psycopg2==2.5.1
python-twitter==0.8.5
requests==1.1.0
requests-oauthlib==0.3.0
simplejson==3.1.0
six==1.4.1
static==0.4
stevedore==0.12
twython==2.5.5
utils==0.5
vboxapi==1.0
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
wsgiref==0.1.2
